/* MOBILE FIRST */
/* Mobile */
/* -- header */
header {
    background-color: var(--primary-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container div {
    color: var(--text-light-color);
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}

header .container nav ul {
    display: flex;
    list-style: none;
}

header .container nav ul li {
    padding: 15px;
}

header .container nav ul li a {
    color: var(--text-light-color);
    text-decoration: none;
}

header .container nav ul li:hover {
    background: white;
}

header .container nav ul li:hover a {
    color: var(--primary-color);
}
