/* MOBILE FIRST */
/* Mobile */
/* -- main */
/* login.html */
main .container #login,
main .container #signup {
    padding: 30px;
}

main .container #signup {
    margin-top: 35px;
}

main .container section h2 span {
    font-weight: 400;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    /* -- main */
    /* login.html */
    main .container .login-signup-container {
        display: flex;
        justify-content: space-between;
    }

    main .container .login-signup-container #login,
    main .container .login-signup-container #signup {
        width: calc(100% / 2 - 30px);
    }

    main .container .login-signup-container #signup {
        margin-top: 0;
    }
}
